In [2]:
# Importation des bibliothèques
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from IPython.display import display

In [3]:
# Chargement des fichiers CSV
df = pd.read_csv('2016_Building_Energy_Benchmarking.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3376 entries, 0 to 3375
Data columns (total 46 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   OSEBuildingID                    3376 non-null   int64
 1   DataYear                         3376 non-null   int64
 2   BuildingType                     3376 non-null   object
 3   PrimaryPropertyType              3376 non-null   object
 4   PropertyName                     3376 non-null   object
 5   Address                          3376 non-null   object
 6   City                             3376 non-null   object
 7   State                            3376 non-null   object
 8   ZipCode                          3360 non-null   float64
 9   TaxParcelIdentificationNumber    3376 non-null   object
 10  CouncilDistrictCode              3376 non-null   int64
 11  Neighborhood                     3376 non-null   object
 12  Latitude                         3376 non-null   float64
 13  Longitude                        3376 non-null   float64
 14  YearBuilt                        3376 non-null   int64
 15  NumberofBuildings                3368 non-null   float64
 16  NumberofFloors                   3376 non-null   int64
 17  PropertyGFATotal                 3376 non-null   int64
 18  PropertyGFAParking               3376 non-null   int64
 19  PropertyGFABuilding(s)           3376 non-null   int64
 20  ListOfAllPropertyUseTypes        3367 non-null   object
 21  LargestPropertyUseType           3356 non-null   object
 22  LargestPropertyUseTypeGFA        3356 non-null   float64
 23  SecondLargestPropertyUseType     1679 non-null   object
 24  SecondLargestPropertyUseTypeGFA  1679 non-null   float64
 25  ThirdLargestPropertyUseType      596 non-null    object
 26  ThirdLargestPropertyUseTypeGFA   596 non-null    float64
 27  YearsENERGYSTARCertified         119 non-null    object
 28  ENERGYSTARScore                  2533 non-null   float64
 29  SiteEUI(kBtu/sf)                 3369 non-null   float64
 30  SiteEUIWN(kBtu/sf)               3370 non-null   float64
 31  SourceEUI(kBtu/sf)               3367 non-null   float64
 32  SourceEUIWN(kBtu/sf)             3367 non-null   float64
 33  SiteEnergyUse(kBtu)              3371 non-null   float64
 34  SiteEnergyUseWN(kBtu)            3370 non-null   float64
 35  SteamUse(kBtu)                   3367 non-null   float64
 36  Electricity(kWh)                 3367 non-null   float64
 37  Electricity(kBtu)                3367 non-null   float64
 38  NaturalGas(therms)               3367 non-null   float64
 39  NaturalGas(kBtu)                 3367 non-null   float64
 40  DefaultData                      3376 non-null   bool
 41  Comments                         0 non-null      float64
 42  ComplianceStatus                 3376 non-null   object
 43  Outlier                          32 non-null     object
 44  TotalGHGEmissions                3367 non-null   float64
 45  GHGEmissionsIntensity            3367 non-null   float64
dtypes: bool(1), float64(22), int64(8), object(15)
memory usage: 1.2+ MB

In [15]:
df.head()

,OSEBuildingID,DataYear,BuildingType,PrimaryPropertyType,PropertyName,Address,City,State,ZipCode,TaxParcelIdentificationNumber,...,Electricity(kWh),Electricity(kBtu),NaturalGas(therms),NaturalGas(kBtu),DefaultData,Comments,ComplianceStatus,Outlier,TotalGHGEmissions,GHGEmissionsIntensity
0,1,2016,NonResidential,Hotel,Mayflower park hotel,405 Olive way,Seattle,WA,98101.0,0659000030,...,1.156514e+06,3946027.0,12764.52930,1276453.0,False,NaN,Compliant,NaN,249.98,2.83
1,2,2016,NonResidential,Hotel,Paramount Hotel,724 Pine street,Seattle,WA,98101.0,0659000220,...,9.504252e+05,3242851.0,51450.81641,5145082.0,False,NaN,Compliant,NaN,295.86,2.86
2,3,2016,NonResidential,Hotel,5673-The Westin Seattle,1900 5th Avenue,Seattle,WA,98101.0,0659000475,...,1.451544e+07,49526664.0,14938.00000,1493800.0,False,NaN,Compliant,NaN,2089.28,2.19
3,5,2016,NonResidential,Hotel,HOTEL MAX,620 STEWART ST,Seattle,WA,98101.0,0659000640,...,8.115253e+05,2768924.0,18112.13086,1811213.0,False,NaN,Compliant,NaN,286.43,4.67
4,8,2016,NonResidential,Hotel,WARWICK SEATTLE HOTEL (ID8),401 LENORA ST,Seattle,WA,98121.0,0659000970,...,1.573449e+06,5368607.0,88039.98438,8803998.0,False,NaN,Compliant,NaN,505.01,2.88

In [14]:
df.iloc[:, 0:11].head(10)

,OSEBuildingID,DataYear,BuildingType,PrimaryPropertyType,PropertyName,Address,City,State,ZipCode,TaxParcelIdentificationNumber,CouncilDistrictCode
0,1,2016,NonResidential,Hotel,Mayflower park hotel,405 Olive way,Seattle,WA,98101.0,0659000030,7
1,2,2016,NonResidential,Hotel,Paramount Hotel,724 Pine street,Seattle,WA,98101.0,0659000220,7
2,3,2016,NonResidential,Hotel,5673-The Westin Seattle,1900 5th Avenue,Seattle,WA,98101.0,0659000475,7
3,5,2016,NonResidential,Hotel,HOTEL MAX,620 STEWART ST,Seattle,WA,98101.0,0659000640,7
4,8,2016,NonResidential,Hotel,WARWICK SEATTLE HOTEL (ID8),401 LENORA ST,Seattle,WA,98121.0,0659000970,7
5,9,2016,Nonresidential COS,Other,West Precinct,810 Virginia St,Seattle,WA,98101.0,0660000560,7
6,10,2016,NonResidential,Hotel,Camlin,1619 9th Avenue,Seattle,WA,98101.0,0660000825,7
7,11,2016,NonResidential,Other,Paramount Theatre,911 Pine St,Seattle,WA,98101.0,0660000955,7
8,12,2016,NonResidential,Hotel,311wh-Pioneer Square,612 2nd Ave,Seattle,WA,98104.0,0939000080,7
9,13,2016,Multifamily MR (5-9),Mid-Rise Multifamily,Lyon Building,607 - 3rd Ave.,Seattle,WA,98104.0,0939000105,7

In [17]:
df.iloc[:, 11:21].head(10)

,Neighborhood,Latitude,Longitude,YearBuilt,NumberofBuildings,NumberofFloors,PropertyGFATotal,PropertyGFAParking,PropertyGFABuilding(s),ListOfAllPropertyUseTypes
0,DOWNTOWN,47.61220,-122.33799,1927,1.0,12,88434,0,88434,Hotel
1,DOWNTOWN,47.61317,-122.33393,1996,1.0,11,103566,15064,88502,"Hotel, Parking, Restaurant"
2,DOWNTOWN,47.61393,-122.33810,1969,1.0,41,956110,196718,759392,Hotel
3,DOWNTOWN,47.61412,-122.33664,1926,1.0,10,61320,0,61320,Hotel
4,DOWNTOWN,47.61375,-122.34047,1980,1.0,18,175580,62000,113580,"Hotel, Parking, Swimming Pool"
5,DOWNTOWN,47.61623,-122.33657,1999,1.0,2,97288,37198,60090,Police Station
6,DOWNTOWN,47.61390,-122.33283,1926,1.0,11,83008,0,83008,Hotel
7,DOWNTOWN,47.61327,-122.33136,1926,1.0,8,102761,0,102761,Other - Entertainment/Public Assembly
8,DOWNTOWN,47.60294,-122.33263,1904,1.0,15,163984,0,163984,Hotel
9,DOWNTOWN,47.60284,-122.33184,1910,1.0,6,63712,1496,62216,Multifamily Housing

In [6]:
# Si les valeurs sont séparées par des virgules
df['Nombre_valeurs'] = df['ListOfAllPropertyUseTypes'].dropna().apply(lambda x: len(x.split(',')))

# Si tu veux inclure les NaN dans le résultat (par exemple 0 pour NaN)
df['Nombre_valeurs'] = df['ListOfAllPropertyUseTypes'].apply(lambda x: len(x.split(',')) if pd.notnull(x) else 0)

# Afficher les premières lignes pour vérifier
df[['ListOfAllPropertyUseTypes', 'Nombre_valeurs']].head(10)

               ListOfAllPropertyUseTypes  Nombre_valeurs
0                                  Hotel               1
1             Hotel, Parking, Restaurant               3
2                                  Hotel               1
3                                  Hotel               1
4          Hotel, Parking, Swimming Pool               3
5                         Police Station               1
6                                  Hotel               1
7  Other - Entertainment/Public Assembly               1
8                                  Hotel               1
9                    Multifamily Housing               1

In [7]:
df['PropertyGFATotal'].describe()

count    3.376000e+03
mean     9.483354e+04
std      2.188376e+05
min      1.128500e+04
25%      2.848700e+04
50%      4.417500e+04
75%      9.099200e+04
max      9.320156e+06
Name: PropertyGFATotal, dtype: float64

In [10]:
# Afficher toutes les lignes où PropertyGFATotal est minimal sous forme de tableau
df[df['PropertyGFATotal'] == df['PropertyGFATotal'].min()][['PropertyGFATotal', 'PropertyName']]

      PropertyGFATotal           PropertyName
3363             11285  Fire Station 39 (New)

In [26]:
# Définir les bornes
q1_val = 28487
q3_val = 90992

# Compter les lignes
count_below_q1 = df[df['PropertyGFATotal'] <= q1_val].shape[0]
count_between_q1_q3 = df[(df['PropertyGFATotal'] > q1_val) & (df['PropertyGFATotal'] <= q3_val)].shape[0]
count_above_q3 = df[df['PropertyGFATotal'] > q3_val].shape[0]

print(f"<= 25% (≤ {q1_val}) : {count_below_q1}")
print(f"Entre 25% et 75% (> {q1_val} et ≤ {q3_val}) : {count_between_q1_q3}")
print(f"> 75% (> {q3_val}) : {count_above_q3}")

<= 25% (≤ 28487) : 844
Entre 25% et 75% (> 28487 et ≤ 90992) : 1688
> 75% (> 90992) : 844

In [18]:
df.iloc[:, 21:31].head(10)

,LargestPropertyUseType,LargestPropertyUseTypeGFA,SecondLargestPropertyUseType,SecondLargestPropertyUseTypeGFA,ThirdLargestPropertyUseType,ThirdLargestPropertyUseTypeGFA,YearsENERGYSTARCertified,ENERGYSTARScore,SiteEUI(kBtu/sf),SiteEUIWN(kBtu/sf)
0,Hotel,88434.0,NaN,NaN,NaN,NaN,NaN,60.0,81.699997,84.300003
1,Hotel,83880.0,Parking,15064.0,Restaurant,4622.0,NaN,61.0,94.800003,97.900002
2,Hotel,756493.0,NaN,NaN,NaN,NaN,NaN,43.0,96.000000,97.699997
3,Hotel,61320.0,NaN,NaN,NaN,NaN,NaN,56.0,110.800003,113.300003
4,Hotel,123445.0,Parking,68009.0,Swimming Pool,0.0,NaN,75.0,114.800003,118.699997
5,Police Station,88830.0,NaN,NaN,NaN,NaN,NaN,NaN,136.100006,141.600006
6,Hotel,81352.0,NaN,NaN,NaN,NaN,NaN,27.0,70.800003,74.500000
7,Other - Entertainment/Public Assembly,102761.0,NaN,NaN,NaN,NaN,NaN,NaN,61.299999,68.800003
8,Hotel,163984.0,NaN,NaN,NaN,NaN,NaN,43.0,83.699997,86.599998
9,Multifamily Housing,56132.0,NaN,NaN,NaN,NaN,NaN,1.0,81.500000,85.599998

In [10]:
df.iloc[:, 31:41].head(10)

,SourceEUI(kBtu/sf),SourceEUIWN(kBtu/sf),SiteEnergyUse(kBtu),SiteEnergyUseWN(kBtu),SteamUse(kBtu),Electricity(kWh),Electricity(kBtu),NaturalGas(therms),NaturalGas(kBtu),DefaultData
0,182.500000,189.000000,7226362.5,7456910.0,2.003882e+06,1.156514e+06,3946027.0,12764.529300,1276453.0,False
1,176.100006,179.399994,8387933.0,8664479.0,0.000000e+00,9.504252e+05,3242851.0,51450.816410,5145082.0,False
2,241.899994,244.100006,72587024.0,73937112.0,2.156655e+07,1.451544e+07,49526664.0,14938.000000,1493800.0,False
3,216.199997,224.000000,6794584.0,6946800.5,2.214446e+06,8.115253e+05,2768924.0,18112.130860,1811213.0,False
4,211.399994,215.600006,14172606.0,14656503.0,0.000000e+00,1.573449e+06,5368607.0,88039.984380,8803998.0,False
5,316.299988,320.500000,12086616.0,12581712.0,0.000000e+00,2.160444e+06,7371434.0,47151.816410,4715182.0,False
6,146.600006,154.699997,5758795.0,6062767.5,0.000000e+00,8.239199e+05,2811215.0,29475.800780,2947580.0,False
7,141.699997,152.300003,6298131.5,7067881.5,2.276286e+06,1.065843e+06,3636655.0,3851.890137,385189.0,False
8,180.899994,187.199997,13723820.0,14194054.0,0.000000e+00,2.138898e+06,7297919.0,64259.000000,6425900.0,False
9,182.699997,187.399994,4573777.0,4807679.5,1.039735e+06,7.420912e+05,2532015.0,10020.259770,1002026.0,False

In [20]:
df.iloc[:, 41:48].head(10)

   Comments ComplianceStatus Outlier  TotalGHGEmissions  GHGEmissionsIntensity
0       NaN        Compliant     NaN             249.98                   2.83
1       NaN        Compliant     NaN             295.86                   2.86
2       NaN        Compliant     NaN            2089.28                   2.19
3       NaN        Compliant     NaN             286.43                   4.67
4       NaN        Compliant     NaN             505.01                   2.88
5       NaN        Compliant     NaN             301.81                   3.10
6       NaN        Compliant     NaN             176.14                   2.12
7       NaN        Compliant     NaN             221.51                   2.16
8       NaN        Compliant     NaN             392.16                   2.39
9       NaN        Compliant     NaN             151.12                   2.37

In [24]:
building_consumption=df
print(building_consumption["SiteEnergyUse(kBtu)"].describe())

count    3.371000e+03
mean     5.403667e+06
std      2.161063e+07
min      0.000000e+00
25%      9.251286e+05
50%      1.803753e+06
75%      4.222455e+06
max      8.739237e+08
Name: SiteEnergyUse(kBtu), dtype: float64

In [25]:
building_consumption["BuildingType"].value_counts()

BuildingType
NonResidential          1460
Multifamily LR (1-4)    1018
Multifamily MR (5-9)     580
Multifamily HR (10+)     110
SPS-District K-12         98
Nonresidential COS        85
Campus                    24
Nonresidential WA          1
Name: count, dtype: int64

In [ ]:
# Suppression des colonnes avec trop peux de données

columns_to_drop = ["Comments", "Outlier", "YearsENERGYSTARCertified"]
building_consumption_clean = building_consumption.drop(columns=columns_to_drop)

# Suppression des lignes avec valeurs incohérentes

building_consumption_clean = building_consumption_clean[
    (building_consumption_clean["SiteEnergyUse(kBtu)"] > 0) &
    (building_consumption_clean["NumberofFloors"] > 0) &
    (building_consumption_clean["NumberofBuildings"] > 0) &
    (building_consumption_clean["LargestPropertyUseTypeGFA"] <= building_consumption_clean["PropertyGFATotal"])
]

# FILTRAGE SUR LES TYPES DE BÂTIMENTS NON RÉSIDENTIELS

non_residential_types = ["NonResidential", "Nonresidential COS", "Nonresidential WA","SPS-District K-12","Campus"]
building_consumption_clean = building_consumption_clean[
    building_consumption_clean["BuildingType"].isin(non_residential_types)
]

# AFFICHAGE DES NOUVELLES DIMENSIONS
print("Shape après nettoyage et filtrage :", building_consumption_clean.shape)
building_consumption_clean["BuildingType"].value_counts()

In [ ]:
# ===============================
# ETAPE 1 : NETTOYAGE ET FILTRAGE
# ===============================

# 1️⃣ Suppression des colonnes peu utiles
# Ces colonnes n'apportent pas d'information utile pour l'analyse ou le modèle
columns_to_drop = ["Comments", "Outlier", "YearsENERGYSTARCertified"]
building_consumption_clean = building_consumption.drop(columns=columns_to_drop)


# 2️⃣ Correction des valeurs incohérentes de LargestPropertyUseTypeGFA
# -> Si LargestPropertyUseTypeGFA > PropertyGFATotal, alors la donnée est impossible.
# On va donc remplacer ces valeurs par la MÉDIANE calculée pour chaque type de propriété.

# Création d'un masque qui repère les valeurs incohérentes
mask_incoherent_gfa = (
    building_consumption_clean["LargestPropertyUseTypeGFA"] 
    > building_consumption_clean["PropertyGFATotal"]
)

# BOUCLE ⬇⬇⬇ : pour chaque type de bâtiment, on calcule une médiane et on remplace
for prop_type in building_consumption_clean["PrimaryPropertyType"].unique():
    # On calcule la médiane DES VALEURS COHÉRENTES pour ce type de bâtiment
    median_gfa = building_consumption_clean.loc[
        (building_consumption_clean["PrimaryPropertyType"] == prop_type) &
        (~mask_incoherent_gfa),  # valeurs cohérentes seulement
        "LargestPropertyUseTypeGFA"
    ].median()
    
    # On remplace les valeurs incohérentes par la médiane correspondante
    building_consumption_clean.loc[
        (building_consumption_clean["PrimaryPropertyType"] == prop_type) &
        mask_incoherent_gfa,  # valeurs incohérentes seulement
        "LargestPropertyUseTypeGFA"
    ] = median_gfa


# 3️⃣ Suppression des lignes incohérentes dans d'autres colonnes
# On garde UNIQUEMENT les lignes avec des valeurs strictement positives
building_consumption_clean = building_consumption_clean[
    (building_consumption_clean["SiteEnergyUse(kBtu)"] > 0) &    # énergie positive
    (building_consumption_clean["NumberofFloors"] > 0) &         # ≥ 1 étage
    (building_consumption_clean["NumberofBuildings"] > 0)        # ≥ 1 bâtiment
]


# 4️⃣ Filtrage : on garde uniquement les bâtiments NON résidentiels
non_residential_types = [
    "NonResidential",
    "Nonresidential COS",
    "Nonresidential WA",
    "SPS-District K-12",
    "Campus"
]

building_consumption_clean = building_consumption_clean[
    building_consumption_clean["BuildingType"].isin(non_residential_types)
]


# 5️⃣ Affichage de contrôle
# Affiche le nombre de lignes et colonnes restants
print("Shape après nettoyage et filtrage :", building_consumption_clean.shape)

# Affiche la répartition des types de bâtiment restants
print("\nRépartition des BuildingType après filtrage :")
print(building_consumption_clean["BuildingType"].value_counts())